*{
    box-sizing:border-box;
    
}
header{

    margin-left: 5%;
    margin-top: 2%;
}
header div{

    position: relative;
}
header div h1{
position: absolute;
top: -37px;
bottom: 30px;
left: 4%;
font-family:'festive';}
header div p {

    position: absolute;
    bottom: -17px;
    left: 35px;
}

span{
position: absolute;
right:200px;
top: 50px;    
}
main{

    margin-left: 5%;
    margin-top: 2%;
    margin-right:10% ;

}

main img{
    width: 100%;
}

section{
    position: relative;
}


#ul1{
    position: absolute;
    /* top: 80%; */
    bottom:54px;
    font-size: 32px;
    margin-left: 50px;
    margin-top: 200px;
}

#ul2{
    position: absolute;
    /* top: 80%; */
    bottom:55px;
    font-size: 28px;
    margin-left: 700px;
    left:100px;
}

#sectionlast{

    position: relative;
}
#sectionlast h2{
position: absolute;
bottom: 19%;
left:70px;
font-weight: bolder;
}

main div h1 {

    font-weight:bolder;
}

/* #sectionlast span{
position: absolute;
right:1px;
top: 30px;  
background-color: #bd7c47; 
border: none;
color:aliceblue;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 30px;  
} */



button{
    background-color: #bd7c47;border: none;color: cornsilk;padding: 15px 32px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;cursor: pointer;
position: absolute;
/* right:1px;
top: 30px; */
left: 967px;
bottom: 32px;

}

#sectionlast div img{
    width:60px;
    height: 60px;
}
footer img{
margin-left:50%;
margin-top: -1%;


}
footer #lastP  {

margin-left: 547px;
font-size: 20px;

}

footer{
border-style: solid;
border-left: 0px solid;
border-right: 0px solid;
border-bottom: 0px; solid;

}

#divforpic p{

    float: left;
}

#divforpic img{

    float: right;
    width: 10px;
    height: 10px;
}


#divforpic #ppp {
    float: right;
}

#print p {


    position:absolute;
    right:168px;
    top: 147px;
    bottom: 10px;

}
#print img {


    position:absolute;
    right:203px;
    top: 168px;
    bottom: 10px;

}

#sectionlast{

    border-style: solid;
    border-left: 0px solid;
    border-right: 0px solid;
    border-bottom: 0px solid;
    border-color: gray;
    border-top-width: thick;

}

footer #proudly  {

    text-align: center;
    margin-left: 87px;
    font-size: 20px;
    
}